@import "../globals/variables";

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	padding: $medium;
}

form {
	max-width: 300px;
	margin: $medium 0;
	display: flex;
	grid-gap: $medium;
	flex-direction: column;
}
