*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	padding: $medium;
	min-height: 100vh;
    background-color: $white;
    background-size: cover;
}

form {
	max-width: 300px;
	margin: $medium 0;
	display: flex;
	grid-gap: $medium;
	flex-direction: column;
}

.data-container {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 250px 1fr;

	&__headers {
		.multi-select {
			overflow: hidden;
			width: 100%;
			border: solid 2px red;
			padding: 5px;
			border-radius: 5px;
		}
	}

	&__details {
		display: grid;

		&--headers {
			display: grid;
			grid-gap: 10px;
			font-weight: bold;
			border-bottom: solid 1px red;
			margin-bottom: 1rem;
		}

		&--content {
			display: grid;
			grid-gap: 10px;
		}
	}
}

.categories {
	&__select {
		margin: 1rem 0;
	}
}

