// Colors
$red: #e94f37;
$blue: #4e4187;
$pink: #f5dbcb;
$green: #2ebfa5;
$white: #fff;
$black: #000;

// Margin and Padding
$small: 5px;
$medium: 10px;
$large: 15px;

$padding-sm: $small;
$padding-md: $medium;
$padding-lg: $large;

$rounding-sm: $small;
$rounding-md: $medium;
$rounding-lg: $large;

$margin-sm: $small;
$margin-md: $medium;
$margin-lg: $large;
